

 


<div class="main_div">
	<div align="center">
		<%= image_tag "JobSeeker-logos_black.png", height: 120 %> 
	</div>
	<div class="about_headings">
		<h3>About JobSeeker</h3>
		<p>Welcome to JobSeeker,the world's largest platform for finding jobs with more than <br> 850 million member in more that 206 countries and territories worldwide.</p>
	</div>

	<hr>

	<div class="about_headings">
		<h3>Vision</h3>
		<p>Create a platform to make the hardest job easy.</p>
	</div>

	<hr>

	<div class="about_headings">
		<h3>Mission</h3>
		<p>We are a technology company on a mission to equip students with relevant skills & practical <br> exposure to help them get the best possible start to their careers. Imagine a world <br> full of freedom and possibilities. A world where you can discover your passion and turn it into your career.<br> A world where you graduate fully assured, confident, and prepared to stake a claim on your place in the world.</p>
	</div>
	<hr>
	<div class="about_headings">
		<h3>Admin Contact Details:</h3>
		<p style="size: 150%;">Name:Gyanaranjan Sahoo<br>
		Email : <a href="mailto:gyna@gmail.com">gyana@gmail.com</a> </p>
	</div>
</div>
<div class="body_about">
	<!-- <body class="body_about">  -->
	<section class="sec" style="width: 120%;">
		<h1 style="color: white; margin-top: 2% ">Meet The Team</h1>
		<div class="acontainer">
			<div class="card">
				<div class="content">
					<div style="border-radius:50%" class="imgBx">
						<!-- <img style="border-radius: 50%; position: relative;" src="https://media-exp1.licdn.com/dms/image/C4E03AQGSn3f_id8t3A/profile-displayphoto-shrink_800_800/0/1639287854669?e=1658361600&v=beta&t=XXKEyK7CXaojzzVlpZuG1cCR-d9yHdqmEcxiEV5PsjM"> -->
						<%= image_tag "prasant.jpg", height: 50 %>  
					</div>
					<div class="contentBx">
						<h3>Prasant Ku. Sethi<br><span>Co-Developer</span></h3>
					</div>
				</div>
				<ul class="sci">
					<li>
						<a href=""><img src="https://img.icons8.com/external-justicon-flat-justicon/344/external-facebook-social-media-justicon-flat-justicon.png"style="height :30px; width: 30px;" ></a>
					</li>
					<li>
						<a href="https://www.linkedin.com/in/prasantsethi/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/LinkedIn_icon_circle.svg/2048px-LinkedIn_icon_circle.svg.png"style="height :30px; width: 30px;" ></a>
					</li>
					<li>
						<a href="https://www.instagram.com/kumar15_prasant/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/900px-Instagram_icon.png?20200512141346"style="height :30px; width: 30px;" ></a>
					</li>
				</ul>
			</div>
			<div class="card">
				<div class="content">
					<div style="border-radius: 50%;"class="imgBx">
						<!-- <img  src="https://media-exp1.licdn.com/dms/image/C5603AQGsNEgVnG15yQ/profile-displayphoto-shrink_800_800/0/1637721912284?e=1658361600&v=beta&t=5xkIX6jo6DSOhb_lZfbAfYQHbDxKQAle3UNHeEVJVJY"> -->
						<%= image_tag "kaushik.jpg", height: 50 %>  
					</div>
					<div class="contentBx">
						<h3>Kaushik Ku. Giri<br><span>Co-Developer</span></h3>
					</div>
				</div>
				<ul class="sci">
					<li>
						<a href=""><img src="https://img.icons8.com/external-justicon-flat-justicon/344/external-facebook-social-media-justicon-flat-justicon.png"style="height :30px; width: 30px;" ></a>
					</li>
					<li>
						<a href="https://www.linkedin.com/in/kaushik-kumar-giri-7925ab168/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/LinkedIn_icon_circle.svg/2048px-LinkedIn_icon_circle.svg.png"style="height :30px; width: 30px;" ></a>
					</li>
					<li>
						<a href="https://www.instagram.com/kumar_kaushik7/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/900px-Instagram_icon.png?20200512141346"style="height :30px; width: 30px;" ></a>
					</li>
				</ul>
			</div>

			<div class="card">
				<div class="content">
					<div style="border-radius: 50%;" class="imgBx">
						<!-- <img src="https://media-exp1.licdn.com/dms/image/C5603AQEFCci3boubfQ/profile-displayphoto-shrink_800_800/0/1635516153996?e=1658361600&v=beta&t=NlvvtyiQIIDI7F6Kf70IQoWRURtrNWFO5BHOvAinFpo"> -->
						<%= image_tag "gyana.jpg", height: 50 %>  
					</div>
					<div class="contentBx">
						<h3>Gyanaranjan Sahoo<br><span>Co-Developer</span></h3>
					</div>
				</div>
				<ul class="sci">
					<li>
						<a href=""><img src="https://img.icons8.com/external-justicon-flat-justicon/344/external-facebook-social-media-justicon-flat-justicon.png"style="height :30px; width: 30px;" ></a>
					</li>
					<li>
						<a href="https://www.linkedin.com/in/gyanaranjan-sahoo-a5792a1a4/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/LinkedIn_icon_circle.svg/2048px-LinkedIn_icon_circle.svg.png"style="height :30px; width: 30px;" ></a>
					</li>
					<li>
						<a href="https://www.instagram.com/gyanaranjan_853/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/900px-Instagram_icon.png?20200512141346"style="height :30px; width: 30px;" ></a>
					</li>
				</ul>
			</div>


			<div class="card">
				<div class="content">
					<div style="border-radius: 50%;"class="imgBx">
						<!-- <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGln5_HmxrXPA/profile-displayphoto-shrink_800_800/0/1652664057425?e=1658966400&v=beta&t=24SK5DnOXoHUpE2IwAKImNXvlnE2V7b43xEiSoSg14I"> -->
						<%= image_tag "atul.jpg", height: 50 %>  

					</div>
					<div class="contentBx">
						<h3>Atul Ku. Sethi<br><span>Co-Developer</span></h3>
					</div>
				</div>
				<ul class="sci">
					<li>
						<a href="https://www.facebook.com/atulkumar.sethi.3/"><img src="https://img.icons8.com/external-justicon-flat-justicon/344/external-facebook-social-media-justicon-flat-justicon.png"style="height :30px; width: 30px;" ></a>
					</li>
					<li>
						<a href="https://www.linkedin.com/in/atul-kumar-sethi-a91780169/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/LinkedIn_icon_circle.svg/2048px-LinkedIn_icon_circle.svg.png"style="height :30px; width: 30px;" ></a>
					</li>
					<li>
						<a href="https://www.instagram.com/atulkumarsethi/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/900px-Instagram_icon.png?20200512141346"style="height :30px; width: 30px;" ></a>
					</li>
				</ul>
			</div>



		</div>
	</section>
</div>


<div class="main_div1">
	 <p style="color : white;"><br>&copy; Copyright 2022 Room No. 246</p>
</div>